@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Varela+Round&display=swap');

body{
    font-family: 'Indie Flower', cursive;
    overflow: auto;
    background: url("images/cool-background.png");
}

#header{
    background: url("images/cool-background5.png");
}

#header a{
    text-decoration: none;
    color: black;
}

#rock,#paper,#scissor{
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
  
    display: block;
    position: relative;
    border: solid 3px yellow;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
}

#rock i,#paper i,#scissor i,#content i{
    font-size: 100px;
}

#rock:hover, #paper:hover, #scissor:hover{
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#content{
    margin: 95px auto;
    border: solid yellowgreen;
    border-width: 5px 3px 3px 5px;
    border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
}

#result{
    margin: 245px auto;
}

@media (max-width: 992px){
    #rock i,#paper i,#scissor i,#content i{
        font-size: 75px;
    }
}

@media (max-width: 768px){
    #rock i,#paper i,#scissor i,#content i{
        font-size: 50px;
    }
    #result{
        margin: 180px auto;
    }
    
}

@media (max-width: 576px){
    #rock,#paper,#scissor{
        display: inline-block;
        padding: 20px;
        margin: auto 25px;
    }
    #rock i,#paper i,#scissor i,#content i{
        font-size: 50px;
    }
    #you{
        width: 40%;
    }
    #vs{
        width: 20%;
    }
    #comp{
        width: 40%;
    }
    #you, #vs, #comp{
        padding: 10px 2px;
    }
    #content{
        margin: 30px auto;
    }
    #result{
        margin: 45px auto;
    }
}

@media(max-width: 480px){
    #rock,#paper,#scissor{
        margin: auto;
    }
    #rock i,#paper i,#scissor i,#content i{
        font-size: 40px;
    }
    #you, #vs, #comp{
        padding: 10px 2px;
    }
    #content{
        margin: 30px auto;
    }
    #result{
        margin: 30px auto;
    }
}

@media (max-width: 320px)
{
    #rock,#paper,#scissor{
        margin: auto;
    }
    #rock i,#paper i,#scissor i,#content i{
        font-size: 20px;
    }
    #you, #vs, #comp{
        padding: 10px 2px;
    }
    #content{
        margin: 30px auto;
    }
    #result{
        margin: 30px auto;
    }
}
